<mat-sidenav-container><mat-toolbar>
    <button mat-button [matMenuTriggerFor]="memberMenu">Member</button>
    <mat-menu #memberMenu="matMenu">
        <button mat-menu-item routerLink="member-list">List Members</button>
        <button mat-menu-item routerLink="member-form">Create a Member</button>
        <button mat-menu-item routerLink="habit-list">List Habits</button>
        <button mat-menu-item routerLink="habit-form">Create a Habit</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
</mat-sidenav-container>
